# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.github/
.gitignore
.gitpod.Dockerfile
.gitpod.yml
Dockerfile
README.md

# Node.js dependencies:
node_modules/

# Google
app.yaml

# Source files
src/
public/
config-overrides.js

# Test files
cypress/

# Env not production files
.env.development
.env.development.example
.env.expressjs.example
.env.production.example