@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body {
    background-color: #F0F0F5;
    font-family: 'Roboto', sans-serif;
}
#heroes {
    width: 100%;
    height: auto;
}
.btn-default {
    background-color: #E02041;
    color: #FFF;
}
.icon-fa {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
